<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2d3dabeb-e548-42df-a432-cd01e3900458" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2d3dabeb-e548-42df-a432-cd01e3900458fileName">TestSuite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
